.menu{
    background-color: lightgray;
    height: 100vh;
    position: fixed;
    padding: 1rem;
    width: 16rem;
}

.navMenu {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
}

.navMenu ul{
    margin-top: 10rem;
    font-size: 1.4rem;
}

.navMenu li {
    margin-bottom: 1.2rem;
}

.navMenu a {
    color: #000;
}
