.navpedidos {
    font-size: 1.6rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
    display: none; 
  }

.navpedidos .link {
    background-color: var(--marrom-claro);
    color: var(--marrom);
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-wrap: nowrap;
}

.link.active {
    background-color: var(--laranja);
    color: #fff;
  }