.pedidos {
  margin: auto;
  padding: 2rem;
  max-width: 70rem;
  min-height: 100vh;
  h1 {
    margin-bottom: 2rem;
    color: #fff;
  }
  .wrapPedidos {
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--marrom-claro);
    color: #fff;
    border-radius: 1rem;
    align-items: center;
    .wrapDados {
      width: 30rem;
    }
  }
  .wrapBtn {
    display: flex;
    gap: 1rem;
    button {
      border: none;
      padding: .5rem 1rem;
      border-radius: .5rem;
      color: #fff;
      font-size: 1.6rem;
    }
    .cancelButton, .deleteButton {
      background-color: var(--marrom);
    }
    .aproveButton {
      background-color: var(--laranja);
    }
  }
}