.pedidos {
  margin: auto;
  padding: 2rem;
  max-width: 75rem;
  min-height: 100vh;
  h1 {
    margin-bottom: 2rem;
    color: #fff;
  }
  .wrapPedidos {
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--marrom-claro);
    color: #fff;
    border-radius: 1rem;
    align-items: center;
    .wrapDados {
      max-width: 15rem;
    }
    ul {
      margin: 0 1rem;
    }
  }
  .wrapBtn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button {
      border: none;
      padding: .5rem 1rem;
      border-radius: .5rem;
      color: #fff;
      font-size: 1.6rem;
    }
    .cancelButton, .deleteButton {
      background-color: var(--marrom);
    }
    .aproveButton {
      background-color: var(--laranja);
    }
  }
  .status {
    margin-right: .5rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 640px) {
  .pedidos {
    .wrapPedidos {
      .wrapDados {
        max-width: 35rem;
      }
    }
    .wrapBtn {
      display: flex;
      flex-direction: row;
    }
    .status {
      margin-right: 1rem;
    }
  }
}