@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&display=swap');

:root {
  --laranja: #E48900;
  --marrom: #794800;
  --marrom-claro: #A76400;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Antonio", sans-serif;
    list-style: none;
    text-decoration: none;
  }

html {
  font-size: 62.5%;
}

h1, h2 {
  font-family: "Anton", sans-serif;
  font-weight: normal;
}

.bgGeral {
  background-color: var(--marrom);
}

.loading {
  font-size: 1.6rem;
  color: #fff;
}
